@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
    body {
      @apply font-inter;
      color:white;
    }
  } */

@layer utilities{
    .heading {
      font-size: 3.75rem; /* 60px */
      line-height: 1; 
      }
       .glass {
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.18);
        }
}